<div class="conteudo-login">

    <form class="conteudo-form" [formGroup]="loginForm" (submit)="submitLogin()">

        <div class="logo">
            Logo
        </div>

        <div>
            <div>
                <input class="input-login" placeholder="email" formControlName="email" />
            </div>
            <div class="mensagem-erro"
                *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched">
                Campo Obrigatorio!
            </div>
            <div class="mensagem-erro" *ngIf="loginForm.get('email')?.errors?.email && loginForm.get('email')?.touched">
                formato do Email não e valido!
            </div>
        </div>

        <div>
            <div>
                <input class="input-login" type="password" placeholder="senha" formControlName="senha" />
            </div>
            <div class="mensagem-erro"
                *ngIf="loginForm.get('senha')?.errors?.required && loginForm.get('senha')?.touched">
                Campo Obrigatorio!
            </div>
        </div>

        <div>
            <button class="input-submit" [disabled]="!loginForm.valid"> Logar </button>
        </div>

    </form>

</div>