<app-navbar></app-navbar>

<div class="conteudo-noticia">
    <div class="lista-noticias">

        <ng-container *ngFor="let item of listaNoticias">
            <div class="noticia">
                <div class="cabecalho-noticias">
                    <div class="data-noticia">
                        Date : 11/10/2021
                    </div>
                    <div class="usuario-noticia">
                        Valdir
                    </div>
                </div>

                <div class="texto-noticia">
                    Esta e minha noticia que criei pela API-Esta e minha noticia que criei pela API-Esta e minha noticia
                    que criei pela API
                </div>

            </div>
        </ng-container>

    </div>
</div>